<div class="centerNumberDiv">
  <div>
    <img src="../assets/Arthavedika.png" alt="Arthavedika" />
  </div>
  <div class="customPadding">
    <input
      type="number"
      placeholder="Applicant Id"
      class="form-control customHeightBradius"
      [(ngModel)]="applicantId"
    />
  </div>
  <div class="customPaddingButton">
    <button type="submit" class="btn btn-success w-100 customLoginBtnHeight" (click)="reportDownload()">
      Get Report
    </button>
  </div>
</div>

<router-outlet></router-outlet>
